/******************  Футер *********************/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
}

.footer .logo-footer-distance {
  margin-bottom: 20px;
}

.footer .list-style > li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container-adress {
  margin-right: 60px;
}

.footer-container-connect {
  padding-top: 12px;
  margin-right: 94px;
}

.footer-join-icon {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #2196f3;
  }
}

.footer-list-style {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
}

.footer-join-list:not(:last-child) {
  margin-right: 10px;
}

.footer-list-name-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
