/*настройка заголовков h2*/
.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-text-color);
}
.work-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
