/***************  Список команды  ******************/
.section-list-name .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-list-name .list-style {
  display: flex;
  /* padding-bottom: 24px; */
}

.section-list-name .list-style > .list {
  background-color: #ffffff;
}

.section-list-name .list:not(:last-child) {
  margin-right: 30px;
}
.section-list-name-img {
  margin-bottom: 30px;
}
.section-list-name .section-name {
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-list-name .list-style-icon {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.section-list-name .social-network {
  padding-bottom: 36px;
}
.section-list-name .social-network:not(:last-child) {
  margin-right: 10px;
}
