/******************** настройка logo**********************/
/*logo вверху и внизу*/
.logo-web {
  color: var(--logo-color-web);
}

.logo-footer.logo {
  color: var(--text-on-background);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-color-logo);
  margin-right: 85px;
}
